.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.logo {
    font-size: 28px; 
    font-weight: 800; 
    font-family:  sans-serif;
    color: #0056b3; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    transition: color 0.3s;
}
.logo:hover {
    color: #007bff; 
}
nav a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

nav a:hover {
    color:#007bff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;
}
.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Team Section */
.team-section {
    text-align: center;
    margin-top: 50px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.team-card {
    background: #ffffff;
    width: 250px;
    padding: 20px;
    border-radius: 15px;

    border: 2px solid #ADD8E6; /* Light Blue Border */

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
}

.team-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #3a6cf4;
}

.team-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: bold;
}

.team-card .role {
    font-size: 14px;
    color: #555;
}
