.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.logo {
    font-size: 28px; 
    font-weight: 800; 
    font-family:  sans-serif;
    color: #0056b3; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    transition: color 0.3s;
}
.logo:hover {
    color: #007bff; 
}
nav a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

nav a:hover {
    color:#007bff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;
}

.event-container {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    object-fit: cover;
}
.pics {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.pics img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;
}
@media (max-width: 768px) {

    .event-container {
        flex-direction: column;
        text-align: center;
    }

    .event-container img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
      .pics { 
        display: flex;
        flex-direction: column;
        gap: 15px; 
    }

    .pics img {
        width: 100%;  
        height: auto;  
    }
}
