

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.logo {
    font-size: 28px; 
    font-weight: 800; 
    font-family:  sans-serif;
    color: #0056b3; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    transition: color 0.3s;
}
.logo:hover {
    color: #007bff; 
}
nav a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

nav a:hover {
    color:#007bff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;
}

.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.event-card button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.event-grid img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}