.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.logo {
    font-size: 28px; 
    font-weight: 800; 
    font-family:  sans-serif;
    color: #0056b3; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    transition: color 0.3s;
}
.logo:hover {
    color: #007bff; 
}
nav a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

nav a:hover {
    color:#007bff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;
}
body {
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
}